/12_A04_Bucles1/build/
/12_A04_Bucles1/dist/
/12_A04B_Bucles1/nbproject/private/
/12_A04B_Bucles1/build/
/12_A04B_Bucles1/dist/
/12_A06_Bucles3_validar/nbproject/private/
/12_A06_Bucles3_validar/build/
